@media only screen and (min-width: 600px) {
    header {
        nav{
            .nav {

                li.navitem {
                    font-size: 1em;
                }
            }
        }
    }

    main {
        .featured {
            div.featured-content {
                .image-container-bg {
                    width: 350px;
                    
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .skills {

            .card-container {
                margin-top: 2em;
            }

            .card {
                width: 200px;
            }
        }

        .portfolio {
        
            &-content {
        
                .project {
            
                    &-image1 {
                        width: 350px;
                    }
            
                    &-image2 {
                        width: 350px;
                    }
        
                    &-image3 {
                        width: 350px;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) {

    header {

        nav {
            max-width: 100%;
    
            .brand-name {
                padding: 0;
            }
        }
        
    }
    
    .featured>div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .featured-text {
            padding: 3em 0;
            align-self: center;
        }

        .image-container-bg {
            width: 350px;
            top: 1em;
            
            img {
                width: 100%;
            }
        }
    }

    .portfolio {
        &-content {
            
    
            .project-2, .project-1, .project-3 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 1em;
                justify-items: center;
                align-items: center;
    
            }

            .project {
                &-details {

                    .project-desc {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    header {

        nav {
            width: 100%;

            .nav {
                li.navitem {
                    font-size: 1.2em;
                    padding-left: 2em;
                    padding-right: 2em;
                }
            }
        }
        
    }
}

@media only screen and (min-width: 960px) {
    main {
        #home {
            div.home-content {
                div.greeting {
                    h1.name {
                        font-size: 1.2em;
                    }

                    .greet {
                        font-size: 3.5em;
                    }
                }

                .intro {
                    font-size: 1.3em;
                }

                .cta {
                    .project-btn, .skills-btn {
                        padding: .9em 1.5em;
                        font-size: 1.2em;
                    }
                }
            }
        }

        .skills {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
    
            .left, .right {
                display: none;
            }

            .card-container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 0;
                justify-content: center;
            }

            .card {
                width: 200px;
                height: 400px;
                margin: 0;
            }
        }

        .portfolio {
            &-content {
    
                .project {
                    &-details {
                        .project-category {
                            font-size: .8em;
                        }

                        .project-title {
                            font-size: 1.7;
                        }
    
                        .project-desc {
                            font-size: 1.2em;
                        }
                    }

                    &-image1, &-image2, &-image3 {
                        width: 400px;
                    }
                }
            }
        } 
    }
}

@media only screen and (min-width: 1024px) {

    main {
        .featured {
            width: 100%;
            display: grid;
    
            div.featured-content {
                .image-container-bg {
                    width: 400px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    main {
        .skills {
            .card {
                width: 260px;
                height: 400px;
                margin: 0;
            }

            .card-container {
                .web, .graphics, .writing {
                    &-icon {
                        width: 50px;
                    }

                    &-title {
                        font-size: 1.1;
                    }

                    &-desc {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}