@import url('http://fonts.googleapis.com/earlyaccess/khyay.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

@import '_media';
@import '_modal';

$primary-color: #FEB062;
$secondary-color: #3E3636;
$offsec: #3e363625;
$off-white: #f2f2f2;
$offp1: #FFE7CF;
$offp2: #F5E7D9;
$offp3: #FFD6AE;
$light-footer: #301C2B;
$dark-prim: #FEA54C;

* {
    margin: 0;
    padding: 0;
    color: $secondary-color;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Myanmar text', 'Monteserrat', 'Khyay', 'san-serif';
    background-color: $off-white;
    position: relative;
    font-size: 18px;
}

code {
    background-color: $off-white;
    padding: 0 .2em;
}

.active {
    padding: .3em .2em 0 .2em;
    border-left: 2px solid $primary-color;
    font-weight: 700;
    transition: padding .5s ease-in-out;
}

header {
    width: 100%;
    position: relative;
    z-index: 20;
    height: 7vh;
    

    nav {
        width: 100%;
        background-color: $off-white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        
        .brand-name {
            width: 40px;
            height: 40px;
            margin-top: 15px;
            margin-bottom: 10px;

            #Layer_2 {
                width: 100%;
                object-fit: contain;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transform-origin: center;

                #Layer_1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0%, 0%);
                    transform-origin: top center;
                    
                    #circle-braces {
                        transform-origin: center;
                    }

                    &:hover #circle-braces {
                        cursor: pointer;
                        animation: logospin 1s 1 linear;
                        transform-origin: center;
                    }
                }

                @keyframes logospin {
                    0% {
                        transform: rotate(0deg);
                    }
 
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        .nav {
            width: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            
            li {
                padding: .8em;
                font-size: .8em;

                a:hover {
                    padding: .3em .2em 0 .2em;
                    border-left: 2px solid $primary-color;
                    font-weight: 700;
                    transition: padding .5s ease-in-out;
                }
            }
        }

        .hire {
            position: relative;
            width: 4em;
            border-radius: 5px;
            background-color: $dark-prim;
            text-align: center;
            margin-top: 10px;
            padding: .2em 0 0 0;

            b {
                color: #ffffff;
                font-weight: 300;
                font-size: .8em;
            }

            &:hover {
                cursor: pointer;
                transform: scale(.9);
                transition: all .5s ease-in-out;
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    /* top: 7vh; */
    z-index: 0;

    #home {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .home-content {
            padding: 0 .5em;

            .greeting  {
                margin-bottom: 1em;
                
                .name {
                    font-size: medium;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .greet {
                    font-size: 2.2em;
                    font-weight: 700;
                    text-transform: capitalize;
                    letter-spacing: -2px;
                    line-height: 1.3em;
                }
            }

            .intro {
                margin-bottom: 1em;
                &-text {
                    font-size: 1em;
                }
            }

            .cta {
                display: flex;
                justify-content: space-between;

                .project-btn, .skills-btn {
                    padding: 0 1em;
                    border-radius: 5px;

                }

                .project-btn {
                    background-color: $dark-prim;
                    display: block;
                    padding: .3em;
                    
                    a {
                        color: #ffffff; 
                    }
                    
                    &:hover {
                        transform: scale(.9);
                        transition: all .5s ease-in-out;
                    }
                }

                .skills-btn {
                    /* background-color: $primary-color; */
                    display: block;
                    padding: .3em;
                    opacity: .5;
                    clip-path: circle(62% at 40% 20%);
                    transition: all .5s ease-in-out;
                    
                    a {
                        color: lighten($color: $secondary-color, $amount: 50);
                    }

                    &:hover {
                        background-color: darken($color: $offp3, $amount: 20);
                        border: none;
                        opacity: .98;
                        clip-path: circle(95% at 35% 15%);

                    }

                    &:hover a {
                        color: #ffffff;
                    }
                }
            }
        }
        
    }

    .featured {
        width: 100%;
        display: grid;
        background-color: #ffffff;
        padding-top: 1em;
        position: relative;

        &::before, &::after {
            content: '';
            background-image: url('../assets/images/Polygon\ 6.svg');
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 400px;
            position: absolute;
            top: 0;
            left: -4em;
            z-index: 0;
        }
    
        div>p:first-child {
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            font-size: .7em;
        }
    
        &-title {
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.2em;
        }
    
        &-desc {
            font-size: .8em;
            line-height: 1.7;
        }

        
        div {
            padding: 0 2em;
            position: relative;
            z-index: 1;

            .image-container-bg {
                width: 250px;
                height: 100px;
                padding: 0;
                
                img {
                    width: 100%;
                    object-fit: cover;
                    box-shadow: 0px 4px 5px $offsec;
                }
            }
        }
    }

}

.skills {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    background-color: $primary-color;
    padding-top: 5em;
    position: relative;
    z-index: 0;
    align-items: center;
    justify-content: center;

    .left {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            transform: scale(.9);
            transition: all .7s ease-in-out;
        }
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            transform: scale(.9);
            transition: all .7s ease-in-out;
        }

    }

    .card-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        position: relative;
        bottom: -2em;

        .web, .graphics, .writing {
            position: relative;
            opacity: 1;

            &-icon {
                width: 45px;
            }

            &-title {
                text-transform: uppercase;
                font-size: .8em;
                line-height: 2;
            }

            &-desc {
                position: relative;
                line-height: 2;
                font-size: .9em;
            }
        }
    }

    .card {
        width: 160px; 
        height: auto;
        background-color: #fff;
        padding: 2em;
        text-align: center;
        border-radius: 15px;
        z-index: 3;
    }

}

.portfolio {
    width: 100%;
    background-color: darken($color: #F5E7D9, $amount: 10);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    z-index: -1;

    &-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        padding: 4em 2em 0 2em;

        .project {
            padding: 2em 0;

            &-category {
                text-transform: uppercase;
                font-size: .6em;
                font-weight: 700;
            }
    
            &-title {
                position: relative;
                text-transform: uppercase;
                font-size: 1.6em;
                line-height: 1;

                a:hover {
                    color: lighten($color: #3e3636, $amount: 10);
                }
            }
    
            &-desc {
                position: relative;
                font-size: small;
            }
    
            &-tools {
                display: flex;
                align-items: center;
                position: relative;
    
                .icons {
                    padding: 0 10px 10px 10px;
                }
            }

            &-image1 {
                width: 250px;

                a.project-link:hover img {
                    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.9);
                    transform: scale(.9);
                }

                img {
                    width: 100%;
                }
            }
    
            &-image2 {
                width: 250px;

                img {
                    width: 100%;
                }
            }

            &-image3 {
                width: 250px;

                img {
                    width: 100%;
                }
            }
        }

        .more-btn {
            position: relative;
            justify-self: center;
            text-align: center;
            align-self: center;
            background-color: $primary-color;
            padding: .3em .5em 0 .5em;
            border-radius: 5px;
            bottom: -.8em;

            .more-btn-link {
                color: $off-white;
            }
            &:hover {
                cursor: pointer;
                box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.15);
                transform: scale(.9);
                transition: all .5s ease-in-out;
            }

        }
    }
}

.footer {
    width: 100%;
    display: grid;
    position: relative;

    .question {
        padding: 2em 4em;
        text-align: center;
        position: relative;

        &>span {
            font-size: 5em;
            font-weight: 700;
            position: absolute;
            top: -.1em;
            opacity: .1;
        }

        &>p {
            font-size: large;
            font-weight: 600;
            opacity: .7;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $secondary-color;
        padding: .9em 0 0 0;

        .contact {
            display: none;
        }

        button {
            padding: 1em;
            border: none;
            border-radius: 8px;
            font-size: 1em;

            &:hover {
                cursor: pointer;
                background-color: #FEB062;
                transform: scale(.8);
                transition: all .5s ease-in-out;
            }
        }

        .message {
            width: 40%;
            text-align: center;
            color: $primary-color;
            background-color: $off-white;
            padding: .2em .2em 0 .2em;
            border-radius: 5px;
            margin-bottom: .095em;
        }

        .socials {

            a>img {
                width: 30px;
                padding: 10px;
            }
        }

        .copyright {
            color: $offp1;
            line-height: 1.8;

            p {
                color: $offp1;
            }
        }
    }

}
